@media screen and (min-width:32em){


	#toplogo {
	width: 20%;
	margin-top:15px;
	margin-left:15px
	}

.photo-wrap {
	padding-top: 40px;
	display: block;
	div {
		float: left;
		width: 45%;
		margin: 24px 2.5%;
	}
}






footer {
	padding-bottom: 30px;
	img {
		width: 25%;
		float: left;
		
	}
	.contents {
		padding-left: 30px;
		width: 75%;
		display: inline-block;

		section {
			width: 25%;
			padding-top: 20px;
			display:inline-block;
			vertical-align: top;
			h3{
				padding-bottom: 5px;
			}
			li{
				line-height: 1.2;
			}
			
			

		}
	}
}

}