@media screen and (min-width:32em){


	#toplogo {
	width: 30%;
	}

.photo-wrap {
	padding-top: 40px;
	display: block;
	div {
		float: left;
		width: 45%;
		margin: 24px 2.5%;
	}
}






footer {
	padding-bottom: 30px;
	img {
		width: 25%;
		
		
	}
	.contents {
		display:inline-block;
		section {
			display:inline-block;
			vertical-align: top;

			
			

		}
	}
}

}