@media screen and (min-width:50em){


.login {
	display: block;
	padding: 40px;
	float: right;
	li {
		display: inline-block;
		margin-right: 3px;
		a {
		text-decoration: none;
		color: $primary-blue;
		&:hover {
			color: $light-blue;
		}
	}


	}
}	

.main-content {
	background-image: url('../images/big.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	padding-top: 30px;
	padding-left: 2.5%;
	position: relative;

	.dropdown {
		
		width: 20%;
		display: inline-block;
		
		text-align: center;
		
	
		
	}
	.button-1 {
		position: absolute;
		top:20px;
		left:2.5%;
		@include box-shadow;

	}
	.button-2 {
		position: absolute;
		top:20px;
		left:27.5%;
		@include box-shadow;

	}
	.button-3 {
		position: absolute;
		top:20px;
		left:52.5%;
		@include box-shadow;

	}
	.button-4 {
		position: absolute;
		top:20px;
		left:77.5%;
		@include box-shadow;

	}
	.form-1 {
		position: absolute;
		left:2.5%;
		top:90px;
		width: 50%
	}
	.form-2 {
		position: absolute;
		left: 27.5%;
		top: 90px;
		width: 30%;
	}
	.form-3 {
		position: absolute;
		left:52.5%;
		top:90px;
		width: 40%;
	}
	.form-4 {
		position: absolute;
		right: 2.5%;
		top: 90px;
		width: 40%;
	}
	.btn-selected {
		height: 70px;
		transition-duration: 200ms;
	}	
}
.small-header {
	background-image: none;
	min-height: 100px;
	#toplogo {
		margin-bottom: 30px;
		padding-top: 20px;
	}

nav {
	width: 100%;
	li {
		float: left;
		background-color: $primary-blue;
		width: 20%;
		height: 30px;
		text-align: center;
		border:1px solid black;
		color: white;
		padding-top: 5px;
		text-decoration: none;
	}
}
}

.photo-wrap {
	div {
		width: 30%;
		margin: 24px 1.666666%;
	}
}

.small-bg {
	display: none;
	min-height:0px;
}





















}