html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, li, a, form, button {
  font-family: "lato",sans-serif; }

.top-nav {
  font-weight: 300; }

.main-content .dropdown {
  font-weight: 300;
  font-size: 1.3em; }

.photo-wrap h4 {
  font-size: 1.1em;
  padding-top: 5px;
  font-weight: 300; }
.photo-wrap p {
  font-size: .8em;
  line-height: 1.5;
  padding: 6px 0;
  font-weight: 400; }
.photo-wrap a {
  font-size: .8em;
  float: right;
  color: #006ba6; }
  .photo-wrap a:hover {
    color: #62a9e3; }

.login li {
  font-size: .8em; }

form {
  font-size: .8em;
  line-height: 1.3;
  font-weight: 300; }

footer {
  padding: 24px; }
  footer h3 {
    font-size: 1.2em;
    font-weight: 300; }
  footer a {
    font-size: .8em;
    color: #002244;
    line-height: 1.4;
    text-decoration: none; }
    footer a:hover {
      color: #006ba6; }

.advanced-flight {
  line-height: 2;
  font-size: .9em; }
  .advanced-flight h2 {
    font-size: 2em;
    padding-left: 10px;
    padding-bottom: 20px; }

.mileage-header h1 {
  font-size: 3.5em;
  font-weight: 300;
  color: #002244;
  text-align: center; }
.mileage-header h3 {
  padding-top: 10px;
  font-size: 2em;
  font-weight: 300;
  color: #002244;
  text-align: center; }

.mileage-content {
  line-height: 1.5; }
  .mileage-content h3 {
    padding-top: 10px;
    font-size: 2em;
    font-weight: 400; }
  .mileage-content h4 {
    font-size: 1.6em;
    font-weight: 300; }
  .mileage-content a {
    font-size: .8em;
    line-height: 1.4; }
  .mileage-content p {
    font-size: .9em; }

.contact-content h2 {
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 16px; }
.contact-content h3, .contact-content button {
  font-size: 1.2em;
  font-weight: 300;
  color: white; }
.contact-content h4 {
  font-size: 1.2em;
  font-weight: 600; }
.contact-content p {
  line-height: 1.5; }

.top-ten li {
  line-height: 1.4; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

.small-header {
  background: white; }
  .small-header img {
    padding: 5px; }
  .small-header nav li {
    background: #003399;
    /* Old browsers */
    background: -moz-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #003399), color-stop(100%, #50a4e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #002244 20%, #002255 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003399', endColorstr='#50a4e5',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    height: 40px;
    text-align: left;
    border: 1px solid black;
    padding-top: 8px;
    padding-left: 5px; }
    .small-header nav li a {
      color: white;
      text-decoration: none; }

.small-bg {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%; }
  .small-bg h1 {
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: white;
    padding-top: 80px;
    padding-left: 10px; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.container-2 {
  max-width: 1200px;
  margin: 0 auto; }

.fly {
  display: none; }

#toplogo {
  width: 40%;
  margin-top: 5px;
  margin-left: 5px; }

.login {
  display: none; }

.top-nav {
  width: 100%; }

.nav-toggle {
  width: 40px;
  height: 40px;
  background-image: url("../images/hamburger.png");
  background-size: cover;
  float: right;
  margin-right: 5px;
  margin-top: 5px; }

.main-content {
  max-width: 100%; }
  .main-content .dropdown {
    background: #003399;
    /* Old browsers */
    background: -moz-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #003399), color-stop(100%, #50a4e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #003399 1%, #50a4e5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #002244 20%, #002255 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003399', endColorstr='#50a4e5',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 1px solid black;
    color: white;
    padding-top: 10px;
    text-align: left;
    transition-delay: 300ms; }
    .main-content .dropdown:focus {
      outline: none; }
    .main-content .dropdown img {
      height: 18px;
      width: 18px;
      float: right;
      position: relative;
      right: 0px;
      bottom: 20px;
      transition: 200ms; }
  .main-content .btn-selected {
    transition-delay: 0; }
    .main-content .btn-selected img {
      transform: rotate(180deg);
      transition: 200ms; }

.photo-wrap {
  display: none; }

footer {
  clear: both;
  width: 100%;
  min-height: 80px;
  background-color: #62a9e3; }
  footer img {
    width: 40%;
    padding: 20px; }
  footer .contents {
    display: none;
    margin-left: 4%; }

.form-1, .form-2, .form-3, .form-4 {
  font-size: 1em;
  display: none;
  line-height: 1.4;
  background-color: #002244;
  color: #ffffff;
  padding: 10px; }
  .form-1 fieldset, .form-2 fieldset, .form-3 fieldset, .form-4 fieldset {
    margin-top: 20px; }
  .form-1 label, .form-2 label, .form-3 label, .form-4 label {
    display: block; }
  .form-1 input, .form-2 input, .form-3 input, .form-4 input {
    display: inline-block; }
  .form-1 #people label, .form-2 #people label, .form-3 #people label, .form-4 #people label {
    display: inline-block; }
  .form-1 input[type="text"], .form-2 input[type="text"], .form-3 input[type="text"], .form-4 input[type="text"] {
    width: 200px;
    height: 30px; }
  .form-1 input[type="submit"], .form-2 input[type="submit"], .form-3 input[type="submit"], .form-4 input[type="submit"] {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #62a9e3;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    border: none;
    border-bottom: 2px solid #006ba6;
    font-size: 1em; }
    .form-1 input[type="submit"]:active, .form-2 input[type="submit"]:active, .form-3 input[type="submit"]:active, .form-4 input[type="submit"]:active {
      border-bottom: none; }
    .form-1 input[type="submit"]:focus, .form-2 input[type="submit"]:focus, .form-3 input[type="submit"]:focus, .form-4 input[type="submit"]:focus {
      outline: none; }

.form-4 input[type="submit"] {
  margin-top: 20px; }
.form-4 select {
  margin-top: 10px; }

.advanced-flight {
  padding-bottom: 20px; }
  .advanced-flight legend {
    width: 100%;
    padding: 5px 10px;
    background-color: #002244;
    color: white;
    font-size: 1.2em; }
  .advanced-flight fieldset {
    padding: 10px; }
  .advanced-flight input[type="text"] {
    width: 200px;
    height: 30px; }
  .advanced-flight input[type="submit"] {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #62a9e3;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    border: none;
    border-bottom: 2px solid #006ba6;
    font-size: 1em; }
    .advanced-flight input[type="submit"]:active {
      border-bottom: none; }
    .advanced-flight input[type="submit"]:focus {
      outline: none; }

.advanced-offer legend {
  background-color: #62a9e3;
  color: #002244; }

.advanced-from, .advanced-to {
  display: inline-block;
  margin-right: 20px; }

.advanced-people div {
  display: inline-block;
  vertical-align: top;
  margin-right: 4%; }
  .advanced-people div select {
    display: block; }

.trip-button {
  display: inline-block;
  margin-right: 10px; }
  .trip-button button {
    width: 100px;
    height: 100px;
    background: #ffffff;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #cecece 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #cecece));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #cecece 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #cecece 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #cecece 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ffffff 0%, #cecece 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: none;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    border-radius: 10px;
    font-size: 1em; }

.bg-full {
  background: #a0cef0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0cef0), color-stop(60%, #006ba6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0cef0 0%, #006ba6 60%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0cef0', endColorstr='#006ba6',GradientType=0 );
  /* IE6-9 */ }

.big-bg {
  background-image: url("../images/airplane-2.jpg");
  background-size: cover;
  min-height: 420px; }

.mileage-header {
  margin: 0 auto;
  width: 100%;
  padding-top: 150px; }
  .mileage-header span {
    font-weight: 400; }

.feature-content {
  display: inline-block;
  vertical-align: top;
  width: 80%; }

.mileage-content {
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
  background: #a0cef0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0cef0), color-stop(60%, #006ba6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0cef0 0%, #006ba6 60%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0cef0 0%, #006ba6 60%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0cef0', endColorstr='#006ba6',GradientType=0 );
  /* IE6-9 */ }
  .mileage-content img {
    display: inline-block;
    width: 10%;
    padding-right: 10px;
    padding-top: 12px; }
  .mileage-content section {
    padding-bottom: 20px; }
  .mileage-content h3 {
    padding-bottom: 20px; }
  .mileage-content a {
    color: #edb72b;
    text-decoration: none; }

.copy-left {
  padding: 0 12px; }

.copy-right {
  padding: 0 12px; }

.faq {
  width: 100%;
  line-height: 1.4;
  margin-bottom: 100px; }
  .faq p {
    padding-left: 8px; }

.top-ten {
  width: 100%;
  margin-bottom: 100px;
  padding: 10px; }
  .top-ten li {
    line-height: 1.5; }
    .top-ten li a {
      text-decoration: none;
      color: #006ba6; }
      .top-ten li a:hover {
        color: #a0cef0; }

.faq-header {
  width: 100%;
  height: 38px;
  border: 1px solid black;
  background: #006ba6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #006ba6 0%, #005291 97%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006ba6), color-stop(97%, #005291));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #006ba6 0%, #005291 97%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #006ba6 0%, #005291 97%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #006ba6 0%, #005291 97%);
  /* IE10+ */
  background: linear-gradient(to bottom, #006ba6 0%, #005291 97%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ba6', endColorstr='#005291',GradientType=0 );
  /* IE6-9 */
  text-align: left; }
  .faq-header h3 {
    padding-left: 6px; }
  .faq-header:focus {
    outline: none; }
  .faq-header:hover {
    cursor: pointer; }
  .faq-header img {
    width: 20px;
    transition: 200ms; }

.faq-selected img {
  transform: rotate(315deg);
  transition: 200ms; }

.faq-p-1, .faq-p-2, .faq-p-3, .faq-p-4, .faq-p-5, .faq-p-6 {
  display: none;
  background: #002244;
  color: white;
  padding: 12px; }

.contact-left {
  width: 100%;
  padding: 10px 3%;
  min-height: 400px;
  vertical-align: top;
  border-bottom: 1px solid gray; }
  .contact-left h2 {
    text-align: center;
    padding-top: 30px; }
  .contact-left img {
    width: 200px;
    display: block;
    margin: 0 auto; }

.social-links {
  width: 100%;
  padding: 10px 3%;
  min-height: 400px;
  vertical-align: top;
  border-bottom: 1px solid gray; }
  .social-links img {
    width: 30%;
    display: inline-block;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-right: 1.6666%;
    padding-left: 1.6666%; }
  .social-links h2 {
    color: black;
    text-align: center; }
  .social-links a {
    color: #002244;
    text-decoration: none; }
    .social-links a:hover {
      color: #006ba6; }

.contact-right {
  width: 100%;
  padding: 10px 3%;
  min-height: 400px;
  vertical-align: top;
  border-bottom: 1px solid gray; }
  .contact-right h2 {
    text-align: center;
    padding-top: 30px; }
  .contact-right img {
    width: 200px;
    display: block;
    margin: 0 auto; }

.contact-us {
  width: 100%;
  border-bottom: 1px solid gray; }
  .contact-us h1 {
    font-size: 2.2em;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: center; }

.checkin-header {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 40px 0; }
  .checkin-header h1 {
    font-size: 2.2em;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: center; }

.col-1-2 {
  padding-top: 40px;
  width: 100%;
  margin: 0 auto; }
  .col-1-2 h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center; }

.checkin-button {
  width: 33%;
  height: 45px;
  margin: 16px 33%;
  background: #006ba6;
  font-size: .8em;
  border: none;
  border-bottom: 2px solid #002244;
  margin-top: 40px;
  color: white;
  cursor: pointer; }
  .checkin-button:focus {
    outline: none; }
  .checkin-button:active {
    border-bottom: none; }

.go-bottom {
  width: 60%;
  padding: 20px 0;
  margin: 20px auto; }
  .go-bottom > div {
    position: relative;
    overflow: hidden; }
  .go-bottom input, .go-bottom textarea {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    border: 2px solid gray;
    background: none;
    z-index: 1;
    padding: 8px 12px;
    outline: 0; }
    .go-bottom input:valid, .go-bottom textarea:valid {
      background: white; }
    .go-bottom input:focus, .go-bottom textarea:focus {
      border-color: #006ba6; }
    .go-bottom input:focus + label, .go-bottom textarea:focus + label {
      background: #006ba6;
      color: white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase; }
  .go-bottom label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px; }
  .go-bottom textarea {
    display: block;
    resize: vertical; }
  .go-bottom input, .go-bottom textarea {
    padding: 12px 12px 12px 12px; }
  .go-bottom label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
  .go-bottom input:focus, .go-bottom textarea:focus {
    padding: 4px 6px 20px 6px; }
  .go-bottom input:focus + label, .go-bottom textarea:focus + label {
    top: 100%;
    margin-top: -16px; }

.checkin-nonmember {
  width: 100%;
  display: none;
  color: white;
  background-color: #002244; }
  .checkin-nonmember label {
    color: white; }
  .checkin-nonmember input {
    border: 2px solid white; }

.checkin-member {
  width: 100%; }

@media screen and (min-width: 32em) {
  #toplogo {
    width: 20%;
    margin-top: 15px;
    margin-left: 15px; }

  .photo-wrap {
    padding-top: 40px;
    display: block; }
    .photo-wrap div {
      float: left;
      width: 45%;
      margin: 24px 2.5%; }

  footer {
    padding-bottom: 30px; }
    footer img {
      width: 25%;
      float: left; }
    footer .contents {
      padding-left: 30px;
      width: 75%;
      display: inline-block; }
      footer .contents section {
        width: 25%;
        padding-top: 20px;
        display: inline-block;
        vertical-align: top; }
        footer .contents section h3 {
          padding-bottom: 5px; }
        footer .contents section li {
          line-height: 1.2; } }
@media screen and (min-width: 50em) {
  .small-header {
    background: none; }

  .login {
    clear: both;
    display: block;
    padding: 40px;
    float: right; }
    .login li {
      display: inline-block;
      margin-right: 3px; }
      .login li a {
        text-decoration: none;
        color: #006ba6; }
        .login li a:hover {
          color: #62a9e3; }

  .fly {
    display: block; }
    .fly h1 {
      color: white;
      font-size: 4em;
      position: absolute;
      top: 150px;
      left: 50px;
      font-weight: 300;
      font-style: italic; }

  .main-content {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 30px;
    padding-left: 2.5%;
    position: relative; }
    .main-content .dropdown {
      width: 20%;
      display: inline-block;
      border: 0;
      text-align: center;
      background: #002244; }
      .main-content .dropdown h3, .main-content .dropdown a {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 27px; }
      .main-content .dropdown img {
        display: none; }
    .main-content .button-1 {
      position: absolute;
      top: 20px;
      left: 2.5%;
      -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75); }
    .main-content .button-2 {
      position: absolute;
      top: 20px;
      left: 27.5%;
      -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75); }
    .main-content .button-3 {
      position: absolute;
      top: 20px;
      left: 52.5%;
      -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75); }
    .main-content .button-4 {
      position: absolute;
      top: 20px;
      left: 77.5%;
      -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75); }
    .main-content form {
      -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75); }
    .main-content .form-1 {
      position: absolute;
      left: 2.5%;
      top: 90px;
      width: 50%; }
    .main-content .form-2 {
      position: absolute;
      left: 27.5%;
      top: 90px;
      width: 30%; }
    .main-content .form-3 {
      position: absolute;
      left: 52.5%;
      top: 90px;
      width: 40%; }
    .main-content .form-4 {
      position: absolute;
      right: 2.5%;
      top: 90px;
      width: 40%; }
    .main-content .btn-selected {
      height: 70px;
      padding-bottom: 20px; }

  .small-header {
    background-image: none;
    min-height: 100px; }
    .small-header #toplogo {
      margin-bottom: 34px;
      padding-top: 20px; }
    .small-header nav {
      width: 65%;
      float: right; }
      .small-header nav li {
        float: left;
        background: #003399;
        /* Old browsers */
        background: -moz-linear-gradient(top, #003399 1%, #50a4e5 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #003399), color-stop(100%, #50a4e5));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #003399 1%, #50a4e5 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #003399 1%, #50a4e5 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #003399 1%, #50a4e5 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #002244 20%, #002255 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003399', endColorstr='#50a4e5',GradientType=0 );
        /* IE6-9 */
        width: 20%;
        height: 32px;
        text-align: center;
        border: 1px solid black;
        color: white;
        padding-top: 7px;
        text-decoration: none;
        font-size: .8em; }

  .photo-wrap div {
    width: 30%;
    margin: 24px 1.666666%; }
    .photo-wrap div img {
      width: 100%; }

  .small-bg {
    display: none;
    min-height: 0px; }

  footer img {
    width: 20%; }

  .advanced-flight {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f8f8f8; }

  .copy-left {
    width: 48%;
    float: left;
    padding: 0 12px;
    margin-left: 2%; }

  .copy-right {
    width: 48%;
    float: left;
    padding: 0 12px;
    margin-right: 2%; }

  .mileage-header {
    padding-top: 310px; }

  .faq {
    width: 50%;
    float: left;
    padding: 10px;
    margin-left: 1%; }

  .top-ten {
    width: 40%;
    float: right;
    padding: 10px; }

  .faq-1 {
    border-radius: 6px 6px 0 0; }

  .faq-6 {
    border-radius: 0 0 6px 6px; }

  .contact-left {
    width: 33%;
    display: inline-block;
    padding: 10px 3%;
    border-right: 1px solid gray;
    border-bottom: none; }

  .social-links {
    width: 33%;
    display: inline-block;
    padding: 10px 3%;
    border-right: 1px solid gray;
    border-bottom: none; }
    .social-links a {
      margin: 0 auto; }

  .contact-right {
    width: 33%;
    display: inline-block;
    padding: 10px 3%;
    border-bottom: none; }

  .contact-columns {
    padding: 30px 0;
    margin-top: 40px;
    margin-bottom: 40px; }

  .checkinlogo {
    width: 20%;
    padding-top: 30px; }

  .go-bottom {
    width: 33%; }

  .col-1-2 {
    padding-top: 70px;
    padding-bottom: 70px; } }

/*# sourceMappingURL=main.css.map */
