@import "reset";
@import "typography";

$bg-main: #ffffff;
$main-gray: #d4d4d0;
$platinum-gray: #7c848a;
$primary-text: #000000;
$primary-blue: #006ba6; 
$mileage-plus: #edb72b;
$light-blue: #62a9e3;
$dark-blue: #002244;
$sky-blue: #a0cef0;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin header-font($font-size, $font-weight) {
	font-family: lato, "Helvetica Neue", sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;
}
@mixin button-grad {
	background: #003399; /* Old browsers */
background: -moz-linear-gradient(top,  #003399 1%, #50a4e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#003399), color-stop(100%,#50a4e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #003399 1%,#50a4e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #003399 1%,#50a4e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #003399 1%,#50a4e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #002244 20%,#002255 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003399', endColorstr='#50a4e5',GradientType=0 ); /* IE6-9 */
}
@mixin faq-grad {
	background: #006ba6; /* Old browsers */
background: -moz-linear-gradient(top,  #006ba6 0%, #005291 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ba6), color-stop(97%,#005291)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #006ba6 0%,#005291 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #006ba6 0%,#005291 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #006ba6 0%,#005291 97%); /* IE10+ */
background: linear-gradient(to bottom,  #006ba6 0%,#005291 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ba6', endColorstr='#005291',GradientType=0 ); /* IE6-9 */

}
@mixin box-shadow {
	-webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

@mixin sky-gradient {
	background: #a0cef0; /* Old browsers */
background: -moz-linear-gradient(top,  #a0cef0 0%, #006ba6 60%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0cef0), color-stop(60%,#006ba6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0cef0 0%,#006ba6 60%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0cef0 0%,#006ba6 60%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0cef0 0%,#006ba6 60%); /* IE10+ */
background: linear-gradient(to bottom,  #a0cef0 0%,#006ba6 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0cef0', endColorstr='#006ba6',GradientType=0 ); /* IE6-9 */

}
@mixin gray-button {
	background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #cecece 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#cecece 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#cecece 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ffffff 0%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

//global standards////
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


img {
	max-width:100%;
}


  	
  
.small-header {
	background:white;
	// background-image: url('../images/big.png');
	// background-repeat: no-repeat;
	// background-size:cover;

	// min-height:400px;
	img {
		padding: 5px;
	}
	nav{
	li {
		
		@include button-grad;
		width: 100%;
		height: 40px;
		text-align: left;
		border:1px solid black;
		
		padding-top: 8px;
		padding-left: 5px;
		
		a{
			color: white;
			text-decoration: none;
		}
	}
}
}
.small-bg {
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	min-height:400px;
	width: 100%;
	h1{
		font-size: 2em;
		font-weight: 300;
		font-style: italic;
		color: white;
		
		padding-top: 80px;
		padding-left: 10px;

	}
}



.container {
	max-width:1300px;
	margin: 0 auto;
}
.container-2 {
	max-width: 1200px;
	margin: 0 auto;
}



.fly {
	display:none;
}	



///navigations//
#toplogo {
	width: 40%;
	margin-top: 5px;
	margin-left: 5px;
}

.login {
	display: none
}
.top-nav {
	width: 100%;
	
}
.nav-toggle{
	width: 40px;
	height: 40px;
	background-image: url('../images/hamburger.png');
  	background-size: cover;
  	float:right;
  	margin-right: 5px;
  	margin-top: 5px;
  	}

.main-content {
	max-width:100%;
	.dropdown {
		@include button-grad;
		
		// background-color: $dark-blue;
		width: 100%;
		height: 50px;
		padding-left: 10px;
		border:1px solid black;
		color: white;
		padding-top: 13px;
		text-align: left;
		&:focus {
			outline: none;
		}
		img {
			height: 18px;
			width: 18px;
			float: right;
			position: relative;
			right: 0px;
			bottom: 20px;
			transition: 200ms;		
		}
	}


.btn-selected {
		
	
	img {
		transform: rotate(180deg);
		transition: 200ms
	}
}
}
.photo-wrap {
	display: none;

}

footer {
	clear: both;
	width: 100%;
	min-height: 80px;
	background-color: $light-blue;
	img{
		width: 40%;
		padding: 20px;
	}
	.contents {
		display: none;

	}
}



///forms


.form-1, .form-2, .form-3, .form-4 {
	font-size: 1em;
	display: none;
	line-height: 1.4;
	background-color: $dark-blue;
	color: $bg-main;
	padding: 10px;

	fieldset {
		margin-top: 20px;
	}
	label {
		display: block;
	}
	input {
		display: inline-block;
	}

	#people {
		label {
			display:inline-block;
		}
	}
	input[type="text"] {
		width: 200px;
		height: 30px;
	}
	input[type="submit"] {
		display: block;
		width: 150px;
		height: 40px;
		background-color: $light-blue;
		@include box-shadow;
		border: none;
		border-bottom: 2px solid $primary-blue;
		font-size: 1em;
		&:active {
			border-bottom: none;
		}
		&:focus {
			outline:none;
		}
	}
	select {
		appearance:none;
		height: 40px;
	}
}

.form-4 {
	input[type="submit"] {
		margin-top: 20px;
	}
	select {
		margin-top: 10px;
	}
}
.advanced-flight {
		
		padding-bottom: 20px;
	legend {
		width:100%;
		padding: 5px 10px;
		background-color: $dark-blue;
		color: white;
		font-size: 1.2em;

	}
	fieldset {
		padding: 10px;
	}

}
.advanced-offer {
	legend {
	background-color: $light-blue;
	color: $dark-blue;
}
}
.advanced-from, .advanced-to {
	display: inline-block;
	margin-right: 20px;
	
}

.advanced-people {
	div {
		display: inline-block;
		vertical-align: top;
		margin-right: 4%;
		select {
			display: block;
		}
	}
}
.trip-button {
	display: inline-block;
	margin-right: 10px;
	button {
		width: 100px;
		height: 100px;
		@include gray-button;
		border: none;
		@include box-shadow;
		border-radius: 10px;
		font-size: 1em;


	}
}
.bg-full {
	
	@include sky-gradient;
}
/////mileageplus

.big-bg {
	background-image: url('../images/airplane-2.jpg');
	background-size: cover;
	min-height: 420px;

}
.mileage-header {
	margin: 0 auto;
	width: 100%;
	padding-top: 150px;

}
.feature-content {
	display: inline-block;
	vertical-align: top;
	width: 80%;
}
.mileage-content {
	img {
		
		display: inline-block;
		width: 10%;
		padding-right: 10px;
		padding-top: 12px;
	}

	padding-top: 50px;
	width: 100%;
	overflow: hidden;
	@include sky-gradient;
	// background-color: $sky-blue;
	section {
		padding-bottom: 20px;
	}
	h3 {
		padding-bottom: 20px;
	}
	a {
		color: $mileage-plus;
		text-decoration: none;
	}

}
.copy-left {
	padding: 0 12px;
}
.copy-right {
	padding: 0 12px;
}

/////contact 

.faq {
	
	width: 100%;
	line-height: 1.4;
	margin-bottom: 100px;
	p {
		padding-left: 8px;
	}
}
.top-ten {
	width: 100%;
	margin-bottom: 100px;
	padding: 10px;
	li {
		line-height: 1.5;
		a {
		text-decoration: none;
		color: $primary-blue;
		&:hover {
			color: $sky-blue;
		}
	}
}
}

.faq-header {
	 

	
	width: 100%;
	height: 38px;
	border: 1px solid black;
	@include faq-grad;
	text-align: left;
	h3 {
		padding-left: 6px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
	img {
		width: 20px;
		transition: 200ms;

	}
}
.faq-selected {
	img {
		transform: rotate(315deg);
		transition: 200ms;
	}
}
.faq-p-1, .faq-p-2, .faq-p-3, .faq-p-4, .faq-p-5, .faq-p-6 {
	display: none;
	background: $dark-blue;
	color: white;
	padding: 12px;
}
.contact-left {
	width: 100%;
	padding: 10px 3%;
	min-height: 400px;
	vertical-align: top;
	border-bottom: 1px solid gray;
	h2 {
		text-align: center;
		padding-top: 30px;
	}
	img {
		width: 200px;
		display: block;
		margin: 0 auto;
	}
}
.social-links {
	width: 100%;
	padding: 10px 3%;
	min-height: 400px;
	vertical-align: top;
	border-bottom: 1px solid gray;
	img {
		width: 30%;
		display: inline-block;
		padding-top: 60px;
		padding-bottom: 70px;
		padding-right: 1.6666%;
		padding-left: 1.6666%;

	}
	h2 {
		color: black;
		text-align: center;

	}
	a {
		color: $dark-blue;
		text-decoration: none;
		&:hover {
			color: $primary-blue;
		}
	}
}
.contact-right {
	width: 100%;
	padding: 10px 3%;
	min-height: 400px;
	vertical-align: top;
	border-bottom: 1px solid gray;
	h2 {
		text-align: center;
		padding-top: 30px;
	}
	img {
		width: 200px;
		display: block;
		margin: 0 auto;
	}
}
.contact-us {
	width: 100%;
	border-bottom: 1px solid gray;
	h1 {
		font-size: 2.2em;
		font-weight: 300;
		padding-bottom: 10px;
		text-align: center;
	}
}
/////checkin

.checkin-header {
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 40px 0;
	h1 {
		font-size: 2.2em;
		font-weight: 300;
		padding-bottom: 10px;
		text-align: center;
	}
}

.col-1-2 {
	h2 {
		font-size: 2em;
		font-weight: 300;
		text-align: center;
	}
	padding-top: 40px;
	width: 100%;
	margin: 0 auto;
}
.checkin-button {

		width: 33%;
		height: 45px;
		margin: 16px 33%;
		background: $primary-blue;
		font-size: .8em;
		border: none;
		margin-top: 40px;
		color: white;
		cursor: pointer;
	
}
.go-bottom {
  width: 60%;
  padding: 20px 0;
  margin: 20px auto;
  > div {
    position: relative;
    overflow: hidden;
  }
  input, textarea {
	margin: 0 auto;
  	margin-top: 30px;
    width: 100%;
    border: 2px solid gray; 
    background: none;
    
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    &:valid {
      // Hides the label
      background: white; 
    }
    &:focus {
      border-color: $primary-blue;
    }
    &:focus + label {
      background: $primary-blue;
      color: white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
  }
  label {
    transition: // not padding
      background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;

  }
  textarea {
    display: block;
    resize: vertical;

  }



  input, textarea {
    padding: 12px 12px 12px 12px; 
  }
  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  input:focus, textarea:focus {
    padding: 4px 6px 20px 6px; 
  }
  input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }
}



.checkin-nonmember {
	display: none;
}








@import "mediaquery38em";
@import "mediaquery60em";


